.deps/
Makefile
aclocal.m4
autom4te.cache/
config.log
config.status
configure
libsrc
libtool
m4/libtool.m4
m4/libsrc.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
*.c~
*.h~
ChangeLog
build-aux/ar-lib
build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/missing
build-aux/test-driver
tmp32/
tmp64/
yubihsm-shell-*-win32.zip
yubihsm-shell-*-win32.zip.sig
yubihsm-shell-*-win64.zip
yubihsm-shell-*-win64.zip.sig
yubihsm-shell-*.tar.gz
yubihsm-shell-*.tar.gz.sig
yubihsm-shell-*-mac.zip
yubihsm-shell-*-mac.zip.sig
lib/yubihsm-version.h
src/yubihsm-shell
**/.libs/*
**/*.la
**/*.lo
**/*.log
**/*.trs
**/*.o
**/*.pc
**/*_tests
\#*\#
src/cmdline.c
src/cmdline.h
pkcs11/cmdline.c
pkcs11/cmdline.h
build*/
cscope.*
/yhauth/cmdline.c
/yhauth/cmdline.h
/yhwrap/cmdline.c
/yhwrap/cmdline.h
lib/*doxygen*
